
@{
    ViewBag.Title = "FAQ";
}
    <div>
        <h2>FAQ</h2>
    </div>

    <div>
        <p><mark>Comment reserver une chambre? : </mark>en cliquant sur "réserver la chambre"... et si je te renvoie sur la page d'authentification, c'est qu'il y a une raison ^^</p>
        <p><mark>Vous facturez aucun frais pour vos services? : </mark>Si t'inquiète pas :D</p>
        <p><mark>Comment puis-je annuler ma réservation? : </mark>Voir mes réservations => delete mais je prends les frais quand même tu sais..</p>
        <p><mark>Puis-je réserver vos services par téléphone, e-mail ou par fax? : </mark>J'ai fais le site pour quoi moi??</p>
 
    </div>

